@using WebMvc.Common
@model WebMvc.Models.ModelView.CategoryDTO
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h1 class="h3 text-gray-800">Create new category</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </h6>
        <p class="m-0  text-center ">
            @if (TempData[MessageConst.ERROR] != null)
            {
                <span class="alert text-danger alert-danger ">
                    @TempData[MessageConst.ERROR]
                </span>            }
        </p>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Edit","Categories", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(mode=>mode.ID);
            <div class="form-group">
                @Html.LabelFor(model => model.CateName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CateName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CateName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="m-2 ">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
    <div class="m-3">
        <a href="@Url.Action("Index")" class="btn btn-secondary">Return list</a>
    </div>
</div>