@model WebMvc.Models.ModelView.UserDTO

@{
    ViewBag.Title = Model.UserName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts
{

    <!-- Page level plugins -->
    <script src="~/Access/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Access/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Access/Admin/js/demo/datatables-demo.js"></script>

}
<h1 class="h3 mb-2 text-gray-800">Donate Management</h1>
<p class="mb-4"> </p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"></h6>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <p class="col-3 text font-weight-bold">@Html.DisplayNameFor(model => model.UserName) :</p>
                <span class="col-md-9">
                    @Html.DisplayFor(model => model.UserName)
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">@Html.DisplayNameFor(model => model.UserMail) :</p>
                <span class="col-md-9">
                    @Html.DisplayFor(model => model.UserMail)
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">  @Html.DisplayNameFor(model => model.UserDOB) :</p>
                <span class="col-md-9">
                 @Model.UserDOB.ToString("dd-MM-yyyy")
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold"> @Html.DisplayNameFor(model => model.UserGender) :</p>
                <p class="col-md-9">
                    @if (Model.UserGender)
                    {
                        <span>Male</span>
                    }
                    else
                    {
                        <span>Female</span>

                    }
                </p>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">@Html.DisplayNameFor(model => model.UserDateCreate) :</p>
                <span class="col-md-9">
                  @Model.UserDateCreate.ToString("dd-MM-yyyy")
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">  @Html.DisplayNameFor(model => model.UserActive) :</p>
                <p class="col-md-9">
                    @if (Model.UserGender)
                    {
                        <span>
                            Active
                        </span>
                    }
                    else
                    {
                        <span>Female</span>
                    }
                </p>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">   @Html.DisplayNameFor(model => model.UserVolunteer) :</p>
                <span class="col-md-9">
                    @if (Model.UserGender)
                    {
                        <span>
                            Yes
                        </span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">   @Html.DisplayNameFor(model => model.MoneyDonate) :</p>
                <span class="col-md-9">
                    @Model.MoneyDonate.ToString("C0")
                </span>
            </div>
            <a href="@Url.Action("Index")" class="btn btn-primary">Back to list</a>
         </div>
    </div>
    <div class="container my-5">
        <h2>List Donate</h2>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Date Create</th>
                    <th>Money</th>
                    <th>Type Card</th>
                    <th>Donate Name</th>
                    <th>Donate Category</th>
                    <th>Status</th>
                    <th>#</th>
                </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Date Create</th>
                        <th>Money</th>
                        <th>Type Card</th>
                        <th>Donate Name</th>
                        <th>Donate Category</th>
                        <th>Status</th>
                        <th>#</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var data in Model.UserDonates)
                    {
                        <tr>
                            <td>
                                @data.DateCreate
                            </td>
                            <td>
                                @data.Money.ToString("C0")
                            </td>
                            <td>
                                @data.TypeCard
                            </td>
                            <td>
                                @data.Donate.DonateName
                            </td>
                            <td>
                                @data.Donate.Category.CateName
                            </td>
                            <td>
                               @data.Donate.DonateStatus
                            </td>
                            <td>
                                @*<a href="@Url.Action("Detail", "ManageDonate", new {id = data.ID})" class="btn m-1 btn-primary">Detail</a>
                                    <a href="@Url.Action("Edit", "ManageDonate", new {id = data.ID})" class="btn m-1 btn-warning">Edit</a>
                                    <a href="@Url.Action("HideDonate" , "ManageDonate", new {id =@data.ID})" class="btn m-1 btn-danger">Show</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>