@model WebMvc.Models.ModelView.UserDTO

@{
    ViewBag.Title = Model.UserName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts
{

    <!-- Page level plugins -->
    <script src="~/Access/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Access/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Access/Admin/js/demo/datatables-demo.js"></script>

}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            @Model.UserName @if (Model.UserVolunteer == true)
                {<i class="fas fa-leaf"></i>}
        </h6>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <p class="col-3 text font-weight-bold">@Html.DisplayNameFor(model => model.UserName) :</p>
                <span class="col-md-9">
                    @Html.DisplayFor(model => model.UserName)
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">@Html.DisplayNameFor(model => model.UserMail) :</p>
                <span class="col-md-9">
                    @Html.DisplayFor(model => model.UserMail)
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">  @Html.DisplayNameFor(model => model.UserDOB) :</p>
                <span class="col-md-9">
                 @Model.UserDOB.ToString("dd-MM-yyyy")
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold"> @Html.DisplayNameFor(model => model.UserGender) :</p>
                <p class="col-md-9">
                   @(Model.UserGender==true?"Male":"Femail")
                </p>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">@Html.DisplayNameFor(model => model.UserDateCreate) :</p>
                <span class="col-md-9">
                  @Model.UserDateCreate.ToString("dd-MM-yyyy")
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">   @Html.DisplayNameFor(model => model.UserVolunteer) :</p>
                <span class="col-md-9">
                    @(Model.UserVolunteer == true ? "Yes" : "No")
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">   @Html.DisplayNameFor(model => model.MoneyDonate) :</p>
                <span class="col-md-9">
                    @Model.MoneyDonate.ToString("C0")
                </span>
            </div>
            <a href="@Url.Action("Index")" class="btn btn-primary">Back to list</a>
         </div>
    </div>
    <div class="container my-5">
        <h2>List Donate</h2>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Donate Name</th>
                        <th>Donate Category</th>
                        <th>Money</th>
                        <th>Type Card</th>
                        <th>Date Create</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Donate Name</th>
                        <th>Donate Category</th>
                        <th>Money</th>
                        <th>Type Card</th>
                        <th>Date Create</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var data in Model.UserDonates)
                    {
                    <tr>
                        <td>
                            <a href="@Url.Action("Detail","ManageDonate",new {id  = data.DonateID})"> @data.Donate.DonateName</a>
                        </td>
                        <td>
                            @data.Donate.Category.CateName
                        </td>
                        <td>
                            @data.Money.ToString("C0")
                        </td>
                        <td>
                            @data.TypeCard
                        </td>
                        <td>
                            @data.DateCreate
                        </td>


                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>