@using Domain.EF
@using WebMvc.Models.ModelView

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<UserDonateDTO> ListUserCurrentDate = ViewBag.ListUserDonate;
}

@section scripts
{

    <!-- Page level plugins -->
    <script src="~/Access/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Access/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Access/Admin/js/demo/datatables-demo.js"></script>
}
<!-- Page Heading -->


<!-- DataTales Example -->
<div class="card shadow mb-4">
   
    <div class="card-body">
        <div class="table-responsive">
            <h3>List User donate  today</h3>
            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Donate Name</th>
                        <th>Money</th>
                        <th>Type Card</th>
                        <th>Date Create</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>User Name</th>
                        <th>Donate Name</th>
                        <th>Money</th>
                        <th>Type Card</th>
                        <th>Date Create</th>
                    </tr>
                </tfoot>
                <tbody>
                @foreach (var data in ListUserCurrentDate)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("UserInfo","ManageUser",new {id  = data.UserID})">
                                @data.User.UserName
                                @if (data.User.UserVolunteer == true)
                                {<i class="fas fa-leaf"></i>}
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Detail","ManageDonate",new {id  = data.DonateID})"> @data.Donate.DonateName</a>
                        </td>
                        <td> @data.Money</td>
                        <td>@data.TypeCard</td>
                        <td> @data.DateCreate </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>