@using Domain.EF
@using WebMvc.Models.ModelView

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<UserDonateDTO> ListUserCurrentDate = ViewBag.ListUserDonate;
}

@section scripts
{

    <!-- Page level plugins -->
    <script src="~/Access/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Access/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Access/Admin/js/demo/datatables-demo.js"></script>
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800 text-center">Dash board</h1>
<p class="mb-4"> </p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        @*<h6 class="m-0 font-weight-bold text-primary"><a href="@Url.Action("Create")" class="btn btn-success">Create new </a></h6>*@
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <h3>List User donate  to day</h3>
            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>User Name</th>
                    <th>Donate Name</th>
                   
                    <th>Date Create</th>
                    <th>Money</th>
                    <th>Type Card</th>

                    <th>#</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>User Name</th>
                    <th>Donate Name</th>
                   
                    <th>Date Create</th>
                    <th>Money</th>
                    <th>Type Card</th>

                    <th>#</th>
                </tr>
                </tfoot>
                <tbody>
                @foreach (var data in ListUserCurrentDate)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("UserInfo","ManageUser",new {id  = data.UserID})"> @data.User.UserName</a>
                        </td>
                        <td>
                            <a href="@Url.Action("UserInfo","ManageUser",new {id  = data.DonateID})"> @data.Donate.DonateName</a>
                        </td>
                       
                        <td>
                            @data.DateCreate
                        </td>
                        <td>
                            @data.Money
                        </td>
                        <td>
                            @data.TypeCard
                        </td>

                        <td>
                            @*<a href="@Url.Action("Detail", "ManageDonate", new {id = data.ID})" class="btn m-1 btn-primary">Detail</a>
                            <a href="@Url.Action("Edit", "ManageDonate", new {id = data.ID})" class="btn m-1 btn-warning">Edit</a>
                            <a href="@Url.Action("HideDonate" , "ManageDonate", new {id =@data.ID})" class="btn m-1 btn-danger">Show</a>*@
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>