@using WebMvc.Common
@model WebMvc.Models.ModelView.TypeProgramDTO
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h1 class="h3 text-gray-800">Edit Type Program</h1>

<div class="card shadow mb-4">
    <div class="card-body">
        @using (Html.BeginForm("Edit", "TypeProgram", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(mode => mode.ID);
            <div class="form-group">
                @Html.LabelFor(model => model.TypeName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TypeName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TypeName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="m-2 ">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        }

    </div>
    <div class="m-3">
        <a href="@Url.Action("Index")" class="btn btn-secondary">Return list</a>
    </div>
</div>