@model WebMvc.Models.ModelView.DonateDTO

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts
{

    <!-- Page level plugins -->
    <script src="~/Access/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Access/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Access/Admin/js/demo/datatables-demo.js"></script>

}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Detail Donate: @Model.DonateName</h6>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <p class="col-3 text font-weight-bold">@Html.DisplayNameFor(model => model.DonateName) :</p>
                <span class="col-md-9">
                    @Html.DisplayFor(model => model.DonateName)
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">  @Html.DisplayNameFor(model => model.DonateContent) :</p>
                <span class="col-md-9">
                    @Html.Raw(Model.DonateContent)
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold"> @Html.DisplayNameFor(model => model.StartDay) :</p>
                <span class="col-md-9">
                    @Html.DisplayFor(model => model.StartDay)
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">@Html.DisplayNameFor(model => model.EndDay) :</p>
                <span class="col-md-9">
                    @Html.DisplayFor(model => model.EndDay))
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">  @Html.DisplayNameFor(model => model.DonateDateCreate) :</p>
                <span class="col-md-9">
                    @Html.DisplayFor(model => model.DonateDateCreate)
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">   @Html.DisplayNameFor(model => model.CateID) :</p>
                <span class="col-md-9">
                    @Html.DisplayFor(model => model.Category.CateName)
                </span>
            </div>
            <div class="row">
                <p class="col-3 text font-weight-bold">   @Html.DisplayNameFor(model => model.TotalMoney) :</p>
                <span class="col-md-9">
                    @Html.DisplayFor(model => model.TotalMoney)
                </span>
            </div>
            <a href="@Url.Action("Index")" class="btn btn-primary">Back to list</a>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning" })
        </div>

    </div>
    <div class="container my-5">
        <h2>List User Donate</h2>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                    <tr>

                        <th>User Name</th>
                        <th>Money</th>
                        <th>Type Card</th>
                        <th>Date Create</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>User Name</th>
                        <th>Money</th>
                        <th>Type Card</th>
                        <th>Date Create</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var data in Model.UserDonates)
                    {
                    <tr>
                        <td>
                            <a href="@Url.Action("UserInfo","ManageUser",new {id  = data.UserID})">
                                @data.User.UserName
                                @if (data.User.UserVolunteer == true)
                                {<i class="fas fa-leaf"></i>}
                            </a>                            
                        </td>
                        <td> @data.Money</td>
                        <td>@data.TypeCard</td>
                        <td> @data.DateCreate </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>