@using WebMvc.Models.Enum
@model List<WebMvc.Models.ModelView.DonateDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section scripts
{

    <!-- Page level plugins -->
    <script src="~/Access/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Access/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Access/Admin/js/demo/datatables-demo.js"></script>
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Donate Management</h1>
<p class="mb-4"> </p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><a href="@Url.Action("Create")" class="btn btn-success">Create new </a></h6>
    </div>
    <div class="card-body">
        <h2>List Donate</h2>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Create</th>
                        <th>Date Start</th>
                        <th>Date End</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Total Money</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Date Create</th>
                        <th>Date Start</th>
                        <th>Date End</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Total Money</th>
                        <th>#</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var data in Model.Where(x => !x.DonateHide && x.DonateStatus != DonateStatus.Ended))
                    {
                        <tr>
                            <td>@data.DonateName</td>
                            <td>
                                @data.DonateDateCreate
                            </td>
                            <td>
                                @data.StartDay
                            </td>
                            <td>
                                @data.EndDay
                            </td>
                            <td>
                                @data.Category.CateName
                            </td>
                            <td>
                                @data.DonateStatus
                            </td>
                            <td>
                                @data.TotalMoney.ToString("C0")
                            </td>
                            <td>
                                <a href="@Url.Action("Detail", "ManageDonate", new {id = data.ID})" class="btn m-1 btn-primary">Detail</a>
                                <a href="@Url.Action("Edit", "ManageDonate", new {id = data.ID})" class="btn m-1 btn-warning">Edit</a>
                                <a href="@Url.Action("HideDonate" , "ManageDonate", new {id =@data.ID})" class="btn m-1 btn-danger">Hide</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />
        <h2>List Ended Donate</h2>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Create</th>
                        <th>Date Start</th>
                        <th>Date End</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Total Money</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Date Create</th>
                        <th>Date Start</th>
                        <th>Date End</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Total Money</th>
                        <th>#</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var data in Model.Where(x => x.DonateStatus == DonateStatus.Ended))
                    {
                        <tr>
                            <td>@data.DonateName</td>
                            <td>
                                @data.DonateDateCreate
                            </td>
                            <td>
                                @data.StartDay
                            </td>
                            <td>
                                @data.EndDay
                            </td>
                            <td>
                                @data.Category.CateName
                            </td>
                            <td>
                                @data.DonateStatus
                            </td>
                            <td>
                                @data.TotalMoney.ToString("C0")
                            </td>
                            <td>
                                <a href="@Url.Action("Detail", "ManageDonate", new {id = data.ID})" class="btn m-1 btn-primary">Detail</a>
                                <a href="@Url.Action("Edit", "ManageDonate", new {id = data.ID})" class="btn m-1 btn-warning">Edit</a>
                                <a href="@Url.Action("HideDonate" , "ManageDonate", new {id =@data.ID})" class="btn m-1 btn-danger">Show</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />
        <h2>List Hiden Donate</h2>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Create</th>
                        <th>Date Start</th>
                        <th>Date End</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Total Money</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Date Create</th>
                        <th>Date Start</th>
                        <th>Date End</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Total Money</th>
                        <th>#</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var data in Model.Where(x => x.DonateHide))
                    {
                        <tr>
                            <td>@data.DonateName</td>
                            <td>
                                @data.DonateDateCreate
                            </td>
                            <td>
                                @data.StartDay
                            </td>
                            <td>
                                @data.EndDay
                            </td>
                            <td>
                                @data.Category.CateName
                            </td>
                            <td>
                                @data.DonateStatus
                            </td>
                            <td>
                                @data.TotalMoney.ToString("C0")
                            </td>
                            <td>
                                <a href="@Url.Action("Detail", "ManageDonate", new {id = data.ID})" class="btn m-1 btn-primary">Detail</a>
                                <a href="@Url.Action("Edit", "ManageDonate", new {id = data.ID})" class="btn m-1 btn-warning">Edit</a>
                                <a href="@Url.Action("HideDonate" , "ManageDonate", new {id =@data.ID})" class="btn m-1 btn-danger">Show</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>